body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#game{
    box-shadow: black 20px 10px 50px;
}
    /*50px in canvas
        box-shadow is the blur for the shadow */

#settings {
    background-color: gray;
    padding: 40px;
}