h1 {
    margin: 0;
    padding: 0;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#highscoreTab p {
    display: inline;
}

#userInterface {
    display: flex;
    justify-content: space-around;
}

#game{
    box-shadow: black 20px 10px 50px;
}
    /*50px in canvas
        box-shadow is the blur for the shadow */

#settings {
    background-color: gray;
    padding: 40px;
    border: 2px solid black;
    width: 15%;
}

#highscoreTab {
    background-color: aqua;
    padding: 40px;
    border: 2px solid black;
    width: 15%
}

.restartGame {
    margin-top: 10px;
    padding: 20px;
    position: absolute;
    left: calc(50% - 40px);
}